* {
    background-color: rgb(8, 81, 81);
}

.title {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    align-items: center;
    color: yellow;
}

#head {
    margin-left: 550px;
    margin-top: 150px;
    color: rgb(57, 220, 117);
}

.ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 400px;
    height: 300px;
}